*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.submit{
    padding: 15px;
    border-radius: 7px;
    color: #fff;
    background-color: rgb(255, 9, 194);
    font-size: 30px; 
    font-weight: 500;
    border: 0;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    cursor: pointer;
}
.popup{
    background-color: #fff;
    color: #333;
    padding: 25px 15px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%) scale(0.2);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
}
.show-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50% , -50%);
}
.popup img{
    width: 100px;
    margin-top: -50%;
    border-radius: 100%;
    box-shadow: #333 0px 0px 0px 0.2px;
}
.popup h2{
    font-size: 20px;
    font-weight: 700;
}
.popup p{
    font-size: 38;
    margin-top: 20px;
    color: gray;
}
.popup button{
    padding: 10px;
    background-color: #6fd649;
    color: #fff;
    margin-top: 50px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}